<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= css%>">
</head>
<body>
    <div class="main">
        <nav>
            <div class="container">
                <div class="logo">
                    <a href="/">AeroLink</a>
                </div>
                <ul class="nav-links">
                    <li id="ll"><a href="#">Product</a></li>
                    <li id="ll"><a href="#">Solutions</a></li>
                    <li id="ll"><a href="/feedback">Feedback</a></li>
                    <li id="ll"><a href="/resources">Resources</a></li>
                    <li id="ll"><a href="#">Pricing</a></li>
                    <li id="ll"><a href="/contact">Contact Us</a></li>
                    <li class="cta" id="lb"><button id="bt1"><a href=""><p>Sign up</p></a></button></li>
                </ul>
            </div>
        </nav>
    <%-  body%>
</div>
   
    
</body>
</html>