body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #272f2f;
    width: 100%;
    overflow-x: hidden;
}

nav {
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* width: 80%;
    margin: auto; */
    padding: 20px;
}

.logo {
    font-size: 24px;
}

.logo a {
    text-decoration: none;
    color: white;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

/* .nav-links li a:hover {
    color: #272f2f;
} */
#bt1{
    border: none;
    background-color: #272f2f;
    border-radius: 10px;
    width: 7em;
}

.cta {
    margin-left: 40px;
}

.cta button a {

    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#ll a:hover {
    color: #272f2f;
}


/* .cta a {
    padding: 10px 20px;
    background-color: #272f2f;
     color: #fff !important; 
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta a:hover {
    background-color: #272f2f;
} */

main {
    padding: 20px 0;
}

.contact {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 40px;
}

.contact-details {
    display: flex;
    justify-content: space-between;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #272f2f;
    color: #fff;
}

.contact-info {
    flex: 1;
    margin-right: 20px;
}

.contact-info p {
    font-size: 16px;
    line-height: 1.6;
}

.contact-info a{
    color: #272f2f;
}

.contact-form {
    flex: 1;
    margin-left: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #272f2f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #272f2f;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
