ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }

li {
    float: left;
   
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: #ddd;
}

li.dropdown {
    display: inline-block;
  }

.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    /* top: 100%;
    left: 0; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown a:hover {
    display: block;
    background-color: #333;
}

li:hover .dropdown {
    display: block;
}

.article-image {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.image-caption {
    text-align: center; /* Center the caption */
    font-style: italic; /* Style the caption as italic */
}

